#inner__header .nav__ul li:nth-child(3) a{
    color: var(--color-accent);
}

#inner__header .nav__ul li:nth-child(3) a::before{
    display: block;
}

#section__hero{
    padding-top: calc(60px + 3%);
    padding-bottom: 2%;
    h1{
        color: var(--color-secondary);
    }
    h2{
        color: var(--color-primary);
    }
    h2 strong{
        color: var(--color-primary-light);
        font-weight: unset;
    }
    .column__1{
        text-align: center;
        align-items: center;
    }
    .marca__logo{
        width: 100%;
        max-width: 500px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .btn{
        margin-top: 20px;
    }
}

.hide__category .card__category{
    display: none;
}

#section__productos__category .card__producto .card__data{
    background-color: var(--color-white) !important;
}

.marca__atributos{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 0px;
    width: 100%;
    margin-top: 100px;
    gap: 2px;
}

.atributo{
    width: 25%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .atributo__icon{
        width: 80px;
        height: 80px;
        padding: 12px;
        background-color: var(--color-white);
        border-radius: 70px;
        margin-top: -75px;
        margin-bottom: 20px;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    }
    p{
        font-size: var(--size-xs);
        line-height: 1.2;
        margin-bottom: 0px;
    }
}

.atributo:first-child{
    border-radius: 20px 0px 0px 20px;
}

.atributo:last-child{
    border-radius: 0px 20px 20px 0px;
}

#section__intro{
    background-color: var(--color-secondary-dark);
}

#listado__marcas{
    margin-top: 5%;
}

.logo__category{
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 0px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.logo__category a:first-child{
    max-width: 400px;
}

.marca__btn img{
    width: 100%;
    height: 100%;
    min-width: 300px;
}

#listado__maltas{
    margin-top: 5%;
}

#divisor__malta picture{
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    z-index: 1;
}

.half__panel{
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#section__productos__category .column__1{
    align-items: center;
}

#section__productos__category h3{
    font-size: var(--size-lg);
    text-align: center;
    margin-bottom: 5%;
}








/*  Tableta  */
@media only screen and (max-width: 1024px) {

    #section__hero{
        padding: calc(60px + 5%) 5% 5%;
    }

    .marca__btn img{
        min-width: 220px;
    }

    .atributo{
        .atributo__icon{
            width: 70px;
            height: 70px;
            padding: 14px;
        }
    }

}







/*  Móvil  */
@media only screen and (max-width: 768px) {

    #section__hero {
        padding: calc(60px + 10%) 5% 8%;
    }

    #section__catalogo.pad__lr__10{
        padding-left: 10%;
        padding-right: 10%;
    }

    #section__catalogo.pad__tb__5{
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #listado__maltas{
        margin-top: 10%;
    }

    #section__hero {
        .marca__logo {
            max-width: 300px;
        }
    }
    
    .marca__atributos{
        flex-direction: column;
        margin-top: 5%;
        .atributo{
            width: 100%;
            flex-direction: row;
            padding: 15px;
            p{
                margin-left: 10px;
            }
            .atributo__icon{
                width: 60px;
                height: 60px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }

    .atributo:first-child {
        border-radius: 20px 20px 0px 0px;
    }

    .atributo:last-child {
        border-radius: 0px 0px 20px 20px;
    }

    #section__productos__category.pad__lr__10{
        padding-left: 10%;
        padding-right: 10%;
    }

    #section__productos__category.pad__tb__5{
        padding-top: 12%;
        padding-bottom: 12%;
    }

}