#section__hero{
    .col__left{
        padding-right: 10%;

    }
    h2{
        color: var(--color-accent);
        font-size: var(--size-2xl);
    }
}

.bloques__contacto{
    width: 100%;
    background-color: var(--color-secondary-light);
    padding: 30px;
    border-radius: 30px;
}

.bloques__contacto ul{
    width: 100%;
}

.bloques__contacto li{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 0px;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: var(--size-sm);
}

.bloques__contacto a{
    font-size: inherit;
    margin-bottom: 0px;
    color: var(--color-secondary);
    font-weight: 500;
    text-decoration: underline;
}

.bloques__contacto a:hover{
    color: var(--color-primary-light);
    text-decoration: underline;
}


form{
    width: 100%;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 20px;
    grid-auto-rows: auto;
}

form > div:nth-child(5){
    grid-column: 2 span;
}

label{
    margin-bottom: 5px;
    font-size: var(--size-sm);
}

input{
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: var(--size-sm);
    padding: 8px 10px;
    width: 100%;
    background-color: #fff;
}

textarea{
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 18px;
    padding: 8px 10px;
    width: 100%;
    background-color: #fff;
}

input:focus, textarea:focus{
    border-color: var(--color-primary-light);
}

form button{
    grid-column: 2 span;
    margin: 0 auto;
}






/*  Tableta  */
@media only screen and (max-width: 1024px) {

    #section__hero.pad__all__10{
        padding: calc(60px + 5%) 5% 10%;
    }

    #section__hero{
        .column__2{
            .col__left{
                padding-right: 0%;
                margin-bottom: 5%;
            }
        }
        
    } 

    form{
        padding: 0%;
    }

}







/*  Móvil  */
@media only screen and (max-width: 768px) {

    form{
        display: flex;
        grid-template-columns: unset;
        grid-template-rows: unset;
        column-gap: unset;
        row-gap: unset;
        grid-auto-rows: unset;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }

    form > div{
        width: 100%;
    }

    form > div:nth-child(5){
        grid-column: 2 span;
    }

}