---
eleventyComputed:
    title: "{{ nosotros[0].titleseo }}"
    description: "{{ nosotros[0].descseo }}"
    keywords: "{{ nosotros[0].keyseo }}"
layout: "base.njk"
permalink: "/{{ page.fileSlug }}/"
---

<div data-barba="container" data-barba-namespace="nosotros" data-css="nosotros" data-js="nosotros">
{% for item in nosotros %}

    <section id="section__hero" class="pad__lr__10">
        <div class="column__2">
            <div class="col__left flex__justify__c pad__right__5 width__55">            
                <h1>{{ item.heroH1 }}</h1>
                <div>{{ item.heroH2 | safe }}</div>
                <p>{{ item.heroP }}</p>
                <a class="btn btn__hero">{{ item.heroBtn }}</a>
            </div>
            <div class="col__right width__45">
                <div class="grano1" data-speed="1.2"><img src="/images/home_grano1.png" /></div>
                <div class="grano2" data-speed="1.2"><img src="/images/home_grano2.png" /></div>
                {% if item.heroImg %}
                <picture>
                    {% for format, images in item.heroImg %}
                    <source srcset="{{ images | srcset }}" sizes="(max-width: 1200px) 100vw, 1200px" type="image/{{ format }}">
                    {% endfor %}
                    <img src="{{ item.heroImg.jpeg[0].url }}" alt="{{ item.heroImgAlt }}">
                </picture>
                {% endif %}
            </div>
        </div>
    </section>


    <section id="section__intro" class="pad__all__10 fadeInOut">
        <div class="column__2">
            <div class="col__left width__55">
                <h3>{{ item.introH3 }}</h3>
                <h2>{{ item.introH2 }}</h2>
            </div>
            <div class="col__right width__45">
                <div>{{ item.introRichText | safe }}</div>
            </div>
        </div>
    </section>

    <section id="section__diferenciadores" class="pad__lr__10 pad__bottom__5">
        <div class="column__1 pad__top__5 pad__bottom__5">
            <h3>{{ item.diffH3 }}</h3>
        </div>
        <div class="column__1 listado__x4">
            <div class="diferenciador">
                <img src="{{ item.diffImg1.url }}"/>
                <h2>{{ item.diffTitle1 }}</h2>
                <p>{{ item.diffDesc1 }}</p>
            </div>
            <div class="diferenciador">
                <img src="{{ item.diffImg2.url }}"/>
                <h2>{{ item.diffTitle2 }}</h2>
                <p>{{ item.diffDesc2 }}</p>
            </div>
            <div class="diferenciador">
                <img src="{{ item.diffImg3.url }}"/>
                <h2>{{ item.diffTitle3 }}</h2>
                <p>{{ item.diffDesc3 }}</p>
            </div>
            <div class="diferenciador">
                <img src="{{ item.diffImg4.url }}"/>
                <h2>{{ item.diffTitle4 }}</h2>
                <p>{{ item.diffDesc4 }}</p>
            </div>
        </div>
    </section>

    {% include 'pre-footer.njk' %}

{% endfor %}
</div>