<li class="card card__articulo">
  
  <span class="card__date">{{ item.publishedAt | date("MMMM d, yyyy") }}</span>
    
    
    
    <a class="card__pic" href="/articulos/{{ item.slug.current }}">
    {% if item.mainImage %}
      <picture>
          {% for format, images in item.mainImage %}
          <source srcset="{{ images | srcset }}" sizes="(max-width: 600px) 100vw, 600px" type="image/{{ format }}">
          {% endfor %}
          <img src="{{ item.mainImage.jpeg[0].url }}" alt="{{ item.mainImageAlt }}">
      </picture>
    {% else %}
      <p>No image available</p>
    {% endif %}
    </a>

    {% if item.categories %}
      <span class="card__category">
        {% for category in item.categories %}
          <a href="/articulos/categorias/{{category | slugify}}">{{ category }}{% if not loop.last %}, {% endif %}</a>
        {% endfor %}
      </span>
    {% else %}
      <span class="card__category">Sin categoría</span>
    {% endif %}

    <a class="blog__title" href="/articulos/{{ item.slug.current }}">{{ item.title }}</a>

    
    
    <p class="excerpt__p">{{ item.excerpt }}</p>
    <a class="btn btn__gray" href="/articulos/{{ item.slug.current }}">Continuar leyendo</a>
  </li>