<section id="section__footer__divisor">
    <img class="img__footer__bg" src="/images/footer_contact.jpg" />
    <div class="column__1">
        <h2>Contáctanos para más información</h2>
        <a class="btn arrow__right" href="/contacto/">Contactar ahora</a>
    </div>
</section>