
<li class="card card__producto" >
  <a class="card__pic" href="/productos/{{ item.slug.current }}">
    {% if item.tbImage %}
      <picture>
          {% for format, images in item.tbImage %}
          <source srcset="{{ images | srcset }}" sizes="(max-width: 600px) 100vw, 600px" type="image/{{ format }}">
          {% endfor %}
          <img src="{{ item.tbImage.png[0].url }}" alt="{{ item.tbImageAlt }}">
      </picture>
    {% else %}
      <p>No image available</p>
    {% endif %}
  </a>

  {% if item.categoriesColorLight %}
    {% for light in item.categoriesColorLight %}
      <div class="card__data" style="background-color: {{ light.color }};">
    {% endfor %}
  {% endif %}

  {% if item.categoriesColorDark %}
    {% for dark in item.categoriesColorDark %}
      <div class="card__border" style="background-color: {{ dark.color }};"></div>
    

      {% if item.tbIcon %}
      <div class="card__icon" style="background-color: {{ dark.color }};"><img src="{{ item.tbIcon.url }}" alt="{{ item.title }}" /></div>
      {% endif %}


      {% if item.categories %}
      {% for category in item.categories %}
        <span class="card__category">
          <a style="color: {{ dark.color }};" href="/productos/categorias/{{category | slugify}}">
            {{ category }}{% if not loop.last %}, {% endif %}
          </a>
        </span>
        {% endfor %}
      {% endif %}



    {% endfor %}
    {% endif %}


    <a class="card__title" href="/productos/{{ item.slug.current }}">{{ item.title }}</a>
    <a class="btn btn__gray" href="/productos/{{ item.slug.current }}">Conoce más</a>

  </div>
</li>